.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
  padding: 2%;
}

.card {
  width: 12rem;
  height: 15rem;
  border: solid 5px #4444ee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.02);
}

.card:active {
  border: solid 5px blue;
}

.card img {
  object-fit: cover;
  height: 80%;
  width: 100%;
}

figcaption {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 5%;
}

@media (max-width: 430px) {
  .card {
    width: 8rem;
    height: 12rem;
  }

  figcaption {
    font-size: 1.2rem;
  }
}
